body {
  background: #fff;
  font-family: 'Roboto';
}

.App-header {
  padding: 25px 0;
  text-align: center;
}

.App-logo {
  height: auto;
  width: 50px;
}

.App-body {
  display: flex;
  justify-content: center;
}