.calculator-keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px;
    grid-auto-rows: 75px;
}

.key {
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

/* TODO: Add css variables for these hexadecimals. */
.key--lilac {
    background: #7C8EBF;
}

.key--plum--light {
    background: #172346;
}

.key--plum--medium {
    background: #111D41;
}

.key--plum--dark {
    background: #0D183A;
}