.calculator-keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px;
    grid-auto-rows: 75px;
}

.key {
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

/* Lilac Keys */
.key--lilac {
    background: var(--lilac-color);
}

.key--plum--light {
    background: var(--plum-light-color);
}

.key--plum--medium {
    background: var(--plum-medium-color);
}

.key--plum--dark {
    background: var(--plum-dark-color);
}